.App {
  text-align: center;
}

#board {
  width: 70vh;
  margin: auto;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
}

.tile {
  aspect-ratio: 1/1 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  padding: 0px;
}

.dark {
  background-color: #AD651E;
}

.light {
  background-color:#FFBF80
}

.possible-move {
  border: 3px #FFE40A solid;
}

.possible-piece.light {
  border: 3px #64D7FA solid;
}

.possible-piece.dark {
  border: 3px #238DAD solid;
}

.possible-move, .possible-piece {
  cursor: pointer;
}

.tile:hover.possible-move, .tile:hover.possible-piece, .selected-piece {
  border: 3px #38FF45 solid;
}

.b {
  color: black;
}

.w {
  color: white;
}

.tile-text {
  margin: 0px;
  padding: 0px;
}

button {
  outline: none;
  padding: 5px;
  border-radius: none;
  background-color: darkslateblue;
  color: orchid;
  border: none;
  font-weight: bold;
  margin: 20px 5px;
}